{% extends 'base.html' %}
{% block content %}
<div class='row'>
    <div class='col'></div>
    <div class='col-12 col-xl-8 col-md-8'>
        <div class='alert alert-primary' role='alert'>
            모든 부분을 채워주세요.
        </div>
        <form action='' method='post' enctype='multipart/form-data'>
            <!-- html의 폼형태에서 입력할 때는 모두 text 파일로 인지 따라서 form 옆에 이게 image 파일이라는 것을 알려줄 수 있도록 해야함 -->
            {% csrf_token %}

            {{form.as_p}}
            <input type='submit' value='Upload' class='btn btn-primary'>
        </form>
    </div>
    <div class='col'></div>
</div>




{% endblock %}